<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="buttons-row">
      <button mat-raised-button color="primary" class="action-btn" routerLink="/income">
        <mat-icon>payments</mat-icon>
        הכנסות
      </button>

      <button mat-raised-button color="primary" class="action-btn" routerLink="/expenses">
        <mat-icon>money_off</mat-icon>
        הוצאות
      </button>
    </div>

    <div class="buttons-row">
      <button mat-raised-button color="primary" class="action-btn" routerLink="/statistics">
        <mat-icon>query_stats</mat-icon>
        גרף הכנסות
      </button>

      <button mat-raised-button color="primary" class="action-btn" routerLink="/chat">
        <mat-icon>chat</mat-icon>
        צ'אט
      </button>
    </div>
  </mat-card-content>
</mat-card>