<mat-toolbar color="primary" class="app-toolbar">
  <button mat-icon-button (click)="sidenav.toggle()" aria-label="Toggle menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="toolbar-title">{{ title }}</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="app-sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active" (click)="sidenav.close()">
        <mat-icon>home</mat-icon>
        <span>דף הבית</span>
      </a>
      <a mat-list-item routerLink="/income" routerLinkActive="active" (click)="sidenav.close()">
        <mat-icon>payments</mat-icon>
        <span>הכנסות</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>